.idea/
__pycache__/
matmaster.egg-info/
.vscode/
.DS_Store

build/**
.env*
dpdispatcher.log
dependency*
PKG*
requires.txt
SOURCES.txt
top_level.txt
llm_contents_report.json
/extract_user_question.py
/user_questions.txt
/traces/

evalate_threads/evaluate.py
evalate_threads/quick_test.py
evalate_threads/test_adk_intergration.py
evaluation_results.json
output.zip
log
*.log
*.csv
*.txt
*log*
*.ipynb
function_declaration
parameter
agents/parameters_output/
